  <div class="card">
    <div class="card-img-wp">
          <img class="card-img-top" src="assets/Image/house_default1.jpg">
            <ul class="list-inline text-center member-icn animate">
              <li class="list-inline-item">
                <button class="btn  btn-primary center"><i class="fas fa-edit"></i></button>
              </li>
              <li class="list-inline-item">

                <button class="btn  btn-primary center"><i class="fas fa-address-book"></i></button>
              </li>
            </ul>
    </div>

    <div class="card-body p-2">
      <h1>&nbsp;&nbsp;{{property.Name}}</h1>
      <h2>&nbsp;&nbsp;{{property.Type}}</h2>
      <h3>&nbsp;&nbsp;{{property.Price}}</h3>
    </div>
  </div>

